* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/*désigne l’élément racine du document donc HTML*/
    --accent: #7b6cff;
/*nom de la variable + valeur de la couleur*/
}

/*Style général du site*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0b0d10;
    color: #e6e6e6;
    line-height: 1.7;
}

/*En-tête*/
header {
    padding: 80px 20px;
    text-align: center;
    border-bottom: 1px solid #2a2a2a;
    background: radial-gradient(circle at center, #1a1d29 0%, #0b0d10 70%);
}

header h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: var(--accent);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 15px rgba(123, 108, 255, 0.4);
    /*Effet néon*/
}

header p {
    max-width: 700px;
    margin: 0 auto;
    color: #cfcfcf;
    font-size: 1.1rem;
    line-height: 1.6;
}

/*Contenu principal*/
main {
    max-width: 1600px;
    margin: 40px auto;
    padding: 0 20px;
}

/*Section*/
section>h2 {
    font-size: 1.9rem;
    margin-bottom: 30px;
    border-left: 4px solid var(--accent);/*Trait sur le coté du titre*/
    padding-left: 12px;
}

.liste-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /*C'est une grille responsive : le nombre de colonnes s’adapte automatiquement selon la taille de l’écran,
   chaque colonne fait au minimum 400px et peut s’agrandir jusqu’à occuper l’espace disponible*/
    gap: 40px;
    margin: 60px 0;
}

/*Carte*/
.bloc-image {
    background: linear-gradient(180deg, #151826, #0b0d10);/*Dégradé vertical du haut vers le bas entre les deux couleurs*/
    border: 1px solid #2a2a2a;
    border-radius: 16px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;/*animation fluide du mouvement et animation douce de l’ombre*/
}

/*Titre*/
.bloc-image h2 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: var(--accent);
}

/*Image*/
.bloc-image img {
    width: 100%;
    height: 320px;
    object-fit: cover;
   /*L’image remplit entièrement son conteneur sans déformation, même si une partie est coupée*/
    border-radius: 12px;
    margin-bottom: 15px;
}

/*Texte*/
.bloc-image p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #d6d6d6;
    margin-bottom: 10px;
}


.bloc-image h3 {
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 8px;
}

/*Popup cachée*/
.popup-invisible {
    display: none;/*la popup n'est pas visible*/
}

/* Popup visible */
.popup-visible {
    display: flex;/*affiche la popup*/
    position: fixed;/*reste fixe à l'écran*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

/*Image dans la popup*/
.popup img {
    max-width: 80%;
    max-height: 80%;
    border: 3px solid white;
}

/*Bouton de fermeture*/
.close-fenetre {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/*Liens*/
a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.image-cliquable {
    display: flex;
    width: 200px;/*largeur des images*/
    cursor: pointer;
    /*curseur en forme de main*/
    margin: 10px;
}

/*Carousel Container*/
.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
}

/*Scrollbar hiding*/
.carousel {
    display: flex;
    overflow: scroll; /*Active le défilement horizontal*/
    scroll-snap-type: x mandatory;/*Force l’arrêt du scroll sur chaque élément horizontalement*/
    max-width: 100%;
    padding: 20px 0;
    scroll-behavior: smooth;  /*Rend le défilement fluide*/
    -ms-overflow-style: none;/*Masque la barre de défilement sur Internet Explorer et Edge*/
    scrollbar-width: none;  /*Masque la barre de défilement sur Firefox*/
}

/*Masque la barre de défilement sur Chrome, Safari et Opera*/
.carousel::-webkit-scrollbar {
    display: none;
}

/*Navigation Boutons*/
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /*Déplace l’élément verticalement de 50% vers le haut par rapport à sa propre taille*/
    background-color: rgba(123, 108, 255, 0.8);/*var(--accent) avec de l'opacité*/
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;/*Définit l’ordre de superposition*/
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-btn:hover {/*Quand l’utilisateur survole le bouton avec la souris*/
    background-color: var(--accent);
}

.carousel-btn.prev {/*Cible uniquement le bouton précédent du carrousel*/
    left: -20px;
}

.carousel-btn.next {/*Cible uniquement le bouton suivant du carrousel*/
    right: -20px;
}

.slide {
    flex-shrink: 0;/*Empêche l’élément de se réduire dans un conteneur flex*/
    scroll-snap-align: start;/*force l’arrêt du scroll au début de l’élément*/
    width: 700px;
    height: 600px;
    margin-right: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 25px;
    color: #0c0c0c;
}

.slide article {
    width: 100%;
    text-align: center;
}

.slide h3,
.slide p {
    color: #000000;
}

.slide img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;/*L’image remplit entièrement son conteneur sans déformation,
   même si une partie est coupée*/
    display: block;
    margin: 0 auto 15px;
}


.formulaire-jeux {
    margin: 60px auto;/*entre horizontalement*/
    padding: 40px;
    max-width: 700px; /*largeur MAX du formulaire*/
    width: 100%; /*responsive (s'adapte automatiquement à la taille de l'écran)*/
    background: linear-gradient(180deg, #131825, #0b0d10);/*dégradé*/
    border: 1px solid #2a2a2a; /*trait autour du formulaire*/
    border-radius: 16px; /*Arrondi des traits autour du formulaire*/
}

/*Titre du formulaire*/
.formulaire-jeux h2 {
    color: var(--accent);
    text-align: center;
    margin-bottom: 10px;
}

/*Texte d'introduction*/
.formulaire-jeux p {
    color: #bdbdbd;
    margin-bottom: 10px;
}

/*Champs du formulaire*/
.formulaire-jeux input,
.formulaire-jeux select,
.formulaire-jeux textarea {
    width: 100%;/*le champ prend toute la largeur de son parent*/
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;/*Ajoute de l'espace à l'intérieur du champ*/
    background-color: #0b0d10;
    border: 1px solid #3a3a3a;
    border-radius: 9px;/*arrondi au niveau des cases*/
    color: #ffffff;
    font-size: 1rem;/*taille du texte*/
}

.formulaire-jeux .select-plateforme {
    width: auto;
    min-width: 160px;
    padding: 10px;
}

/*Focus (quand on clique dans un champ)*/
.formulaire-jeux input:focus,
.formulaire-jeux select:focus,
.formulaire-jeux textarea:focus {
    outline: none;/*supprime ce contour par défaut*/
    border-color: var(--accent);
}

/* Groupe radio */
.formulaire-jeux fieldset {
    margin: 20px 0;
    padding: 12px;
    border: 1px solid #3a3a3a;
    border-radius: 12px;
}

/*Alignement et espacement radios*/
.formulaire-jeux .radio {
    display: block;/*Pour forcer chaque option à s’afficher sur une ligne différente.*/
    align-items: center;
    margin: 1px 0;
    cursor: pointer;
}

/*Taille et marge des boutons radio*/
.formulaire-jeux fieldset input[type="radio"] {
    margin: 0;
    transform: scale(0.9);
}

/*Bouton*/
.formulaire-jeux input[type="submit"] {
    background-color: var(--accent);
    border: none;/*supprime la bordure par défaut*/
    color: #ffffff;
    font-weight: bold;/*texte en gras*/
    cursor: pointer;
    margin-top: 20px;
}

.formulaire-jeux input[type="submit"]:hover {
    background-color: #5f52d6;
}

.fx-rings::before input[type="submit"]:hover {
    animation: ring-expand;
}

/*Pied de page*/
footer {
    text-align: center;
    padding: 30px;
    color: #999999;
    font-size: 0.9rem;

}